@use "../helpers/" as *;

.burger-button {
  @include square(40px);
  @include flex-center;
  @include reset-button;

  &__line {
    width: 100%;
    height: 1px;
    background-color: var(--color-dark);
    box-shadow: 0 -8px 0 0 currentColor, 0 8px 0 0 currentColor;
  }
}
