@use "../helpers/" as *;

.button {
  display: flex;
  align-items: center;
  column-gap: 18px;
  width: fit-content;
  height: fluid(64, 55);
  padding-block: fluid(24, 18);
  padding-left: fluid(24, 18);
  padding-right: fluid(50, 38);
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: 1px solid var(--color-gray-4);
  transition-property: background-color;
  letter-spacing: 2px;

  &--dark {
    color: var(--color-light);
    background-color: var(--color-gray-1);

    @include hover {
      background-color: var(--color-dark) !important;
    }
  }

  &--transparent {
    background-color: transparent;
    border: none;

    @include hover {
      background-color: transparent !important;
    }
  }

  @include hover {
    opacity: 1;
    background-color: var(--color-gray-7);
  }

  svg {
    @include mobile {
      width: 15px;
    }
  }
}
