@use "../helpers/" as *;

.project-card {
  display: flex;
  column-gap: 30px;

  @include mobile {
    flex-direction: column;
  }

  &__media {
    @include mobile {
      max-width: 500px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    max-width: 400px;
    padding-block: 30px;
  }

  &__title {
    font-weight: 300;
    color: var(--color-gray-4);
  }

  &__text {
    font-weight: 300;
    line-height: 1.5;
  }
}
