@use "../helpers/" as *;

.about {
  display: flex;
  column-gap: 30px;
  padding-left: fluid(100, 15);
  padding-right: fluid(70, 15);

  @include mobile {
    flex-direction: column;
    row-gap: 30px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
  }

  &__image--3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__text {
    max-width: 400px;
    font-weight: 300;
  }
}
