@use "../helpers/" as *;

.gallery {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: fluid(30, 20);
    margin-bottom: fluid(70, 30);
  }

  &__controls {
    display: flex;
    align-items: center;
    column-gap: fluid(30, 22);

    @include laptop {
      margin-left: fluid(30, 10);
    }

    @include mobile {
      justify-content: end;
      margin-right: fluid(30, 10);
    }
  }
}
