$laptop: 1440.98px;
$tablet: 1023.98px;
$mobile: 767.98px;
$mobile-s: 480.98px;

@mixin laptop-above {
  @media (width > $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > $mobile-s) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: hover) {
      &:active {
        @content;
      }
    }
  }
}
