@use "helpers" as *;

body {
  @include fluid-text(16, 14);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

h1,
.h1,
h2,
.h2 h3,
.h3 h4,
.h4 h5,
.h5 h6,
.h6 {
  font-weight: 300;
  line-height: 1;
  color: var(--color-gray-4);
}

h1,
.h1 {
  // @include fluid-text();
}

h2,
.h2 {
  @include fluid-text(64, 42);
}

h3,
.h3 {
  @include fluid-text(40, 28);
}

h4,
.h4 {
  @include fluid-text(16, 14);
}

a,
button,
label,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-gray-1);
  text-decoration: none;

  @include hover-effect;
}

section {
  @include container;

  padding-block: var(--section-padding-y);

  header {
    margin-bottom: fluid(60, 40);
  }
}

// dialog {
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	border: none;

// 	&:modal {
// 		max-width: 100%;
// 		max-height: 100%;
// 	}
// }
